.food-search{
	width: 400px;
	height: 25px;
	border: 2px cyan solid;

}
.meals{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 80px;
    margin-top: 10px;
}
.meal{
    position: relative;
    height: 180px;
    width: 180px;
    text-align: center;
}
.meal img{
    width: 100%;
    height: 100%;
    border: 4px #fff solid;
    border-radius: 2px;
}